<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<body>
</body>

<%
  user_id = 1
  user_hash = OpenSSL::HMAC.hexdigest(
    'sha256',
    @web_widget.hmac_token,
    user_id.to_s
  )

%>
<script>

window.unixpSettings = {
  hideMessageBubble: false,
  // showUnreadMessagesDialog: false,
  // baseDomain: '.loca.lt',
  position: '<%= @widget_position %>',
  locale: 'en',
  useBrowserLanguage: true,
  type: '<%= @widget_type %>',
  // showPopoutButton: true,
  widgetStyle: '<%= @widget_style %>',
  darkMode: '<%= @dark_mode %>',
};

(function(d,t) {
  var BASE_URL = '';
  var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src= BASE_URL + "/packs/js/sdk.js";
  g.async = true;
  s.parentNode.insertBefore(g,s);
  g.onload=function(){
    window.unixpSDK.run({
      websiteToken: '<%= @web_widget.website_token %>',
      baseUrl: BASE_URL
    })
  }
})(document,"script");

window.addEventListener('unixp:ready', function() {
  console.log('unixp:ready', window.$unixp);
  if (window.location.search.includes('setUser')) {
    window.$unixp.setUser('<%= user_id %>', {
      identifier_hash: '<%= user_hash %>',
      email: 'jane@example.com',
      name: 'Jane Doe',
      phone_number: ''
    });
  }
})

window.addEventListener('unixp:error', function(e) {
  console.log('unixp:error', e.detail)
})


window.addEventListener('unixp:on-message', function(e) {
  console.log('unixp:on-message', e.detail)
})

window.addEventListener('unixp:postback', function(e) {
  console.log('unixp:postback', e.detail)
})

window.addEventListener('unixp:opened', function() {
  console.log('unixp:opened')
})

window.addEventListener('unixp:closed', function() {
  console.log('unixp:closed')
})

window.addEventListener('unixp:on-start-conversation', function(e) {
  console.log('unixp:on-start-conversation', e.detail)
})
</script>
